<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Reservation System</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if customer_signed_in? %>
      Welcome <%= current_customer.email %>
      <%=link_to 'Logout', destroy_customer_session_path, method: :delete %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
